[
  {
    "stack": "https://connection.north-europe.azure.keboola.com",
    "token": "your-storage-api-token"
  },
  {
    "stack": "https://connection.keboola.com",
    "token": "your-other-token"
  }
]
