{
  "organizations": [
    {
      "id": "141",
      "name": "My Organization",
      "stack": "https://connection.north-europe.azure.keboola.com",
      "projects": [
        {
          "id": "1255",
          "name": "Playground",
          "token": "your-storage-api-token"
        }
      ]
    }
  ]
}
